.CustomerReg-main{
  .CustRegMain{
    display: flex;
  }
  .CustRegLeft,.CustRegRight{
    width: 50%;
  }
  .CustRegLeft{
    background-color: rgb(44, 95, 111);
    height: 100vh;
    padding-top: 15px;
  }
  .CustRegLeft{
    .CusRegLeftContent{
      // background-color: white;
      width: 50%;
      height: 400px;
      margin: auto;
      margin-top: 19%;
    }
    .backBtn{
      // padding: 15px;
      margin: 10px;
      background-color: rgb(2, 7, 61);
      padding: 5px 15px;
      border-radius: 4px;
      color: white;
      text-decoration: none;
    }
    h1{
      letter-spacing: 1px;
      font-weight: 900;
      color: rgb(16, 21, 78);
      font-size: 56px;
    }
    .ul{
      width: 16%;
      padding-top: 10px;
      border-bottom: 6px solid yellow;
    }
    h2{
      font-weight: 700;
      font-size: 45px;
      margin-top: 10px;
      color: rgb(255, 255, 255);
    }
    p{
      width: 250px;
      font-size: 20px;
      color: rgb(2, 7, 61);
    }
  }
  .CustRegRight{
    h2{
      text-align: center;
      font-weight: 900;
      margin-top: 70px;
    }
    .formMainDiv{
      margin: auto;
      // width: 60%;
      // background-color: red;
      padding-top: 4%;
      text-align: center;
    }
    input{
      border: none;
      border-bottom: 1px solid black;
      width: 36%;
      margin-right: 10px;
      margin-bottom: 30px;
      padding-left: 10px;
      padding-bottom: 10px;
      // text-align: center;
    }
    textarea:focus, input:focus{
      outline: none;
    }
    .photoInput{
      border: none;
      
    }
    .iHaveAccount{
      // color: black;
      font-size: 13px;
    }
    .resgiter-btn{
      width: 90px;
      height: 40px;
      margin-bottom: 20px;
      border: 1px solid rgb(2, 7, 61);
      background-color: rgb(2, 7, 61);
      color: lightblue;
      border-radius: 6px;
    }
    .reg-div{
      // background-color: red;
      width: 72%;
      // margin: auto;
      text-align: center;
    }
  }

  @media(min-width:300px) and (max-width:575px){
    .CustRegLeft{
      display: none;
    }
    .CustRegRight{
      width: 100%;
      margin: auto;
    }
  }
  @media(min-width:576px) and (max-width:991px){
    .CustRegRight{
      margin: auto;
    }
    .CustRegLeft{
      .CusRegLeftContent{
        // background-color: white;
        width: 50%;
        height: 400px;
        margin: auto;
        margin-top: 19%;
      }
      .backBtn{
        // padding: 15px;
        margin: 10px;
        background-color: rgb(2, 7, 61);
        padding: 5px 15px;
        border-radius: 4px;
        color: white;
        text-decoration: none;
      }
      h1{
        padding-top: 100px;
        letter-spacing: 1px;
        font-weight: 900;
        color: rgb(2, 7, 61);
        font-size: 36px;
      }
      .ul{
        width: 36%;
        padding-top: 10px;
        border-bottom: 6px solid yellow;
      }
      h2{
        font-weight: 700;
        font-size: 25px;
        margin-top: 10px;
        color: rgb(255, 255, 255);
      }
      p{
        width: 150px;
        font-size: 10px;
        color: rgb(2, 7, 61);
      }
    }
  }
 
}