*{
    padding: 0;
    margin: 0;
 }
 .adminHomePageMain{
     .display-username{
      
         text-align: right;
         
     }
    .link{
       text-decoration: none;
      
    }
     .header-main{
         display: flex;
    
     }
    .header-left{
         width: 20%;
         padding-top: 20px;
         margin-right: 10px !important;
     }
     .header-right{
         width: 80%;
         padding-top: 20px;
     }
 
     .display-username span{
         background-color: rgb(2, 7, 61);
         color: white;
         padding-right: 10px;
         padding: 7px;
         letter-spacing: 2px;
         font-weight: 700;
         font-size: 19px;
         border-radius: 20px 0px 0px 20px;
       
     }
     .display-username .fa-user{
         margin-right: 10px;
         background-color: white;
         padding: 7px 10px;
         color: rgb(2, 7, 61);
         border-radius: 50%;
     }
     .upper-btn{
       button{
          border: none;
       }
     }
     .back-btn{
         border-radius: 0px 20px 20px 0px;
         text-decoration: none;
         background-color: rgb(2, 7, 61);
         color: white;
         font-weight: 700;
         letter-spacing: 2px;
         padding: 7px 30px;
     }
      .header-right button{
         background-color: rgb(2, 7, 61) !important;
         color: rgb(255, 255, 255);
         border: none;
         
         background-color: white;
      }
      .hero{
         padding-top: 20px;
         display: flex;
      }
      .hero-left{
         width: 20%;
      
         height: 600px;
      }
      .hero-right{
         width: 80%;
         
         height: 300px;
      }
      .hero-left h4{
         padding-left: 13%;
         border-radius: 0px 7px 7px 0px;
         background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
         color: white;
         text-align: center;
         padding: 18px;
         margin-bottom: 0 !important;
      }
     
      .item{
         background-color: rgb(255, 255, 255);
         color: white;
         margin-top: 0 !important;
         padding: 10px;
       
         text-align: center;
      }
      .cat-ithems span{
         font-size: 14px;
         letter-spacing: 1px;
         font-weight: 700;
         margin-right: 20px;
         color: rgb(2, 7, 61);
      }
      .edit-btn,.delete-btn{
         text-decoration: none;
         margin-right: 10px;
     
         color: rgb(255, 255, 255);
         padding: 2px 10px;
         border-radius: 4px;
         font-weight: 500;
         font-size: 21px;
         letter-spacing: 1px;
      }
      .line{
       height: 80vh;
       border-left: 4px solid black;
      }
      .cat-ithems th{
         height: 60px !important;
         width: 245px;
         padding-left: 20px;
      }
      .cat-ithems tr{
       border-bottom: 1px solid rgba(2, 7, 61, 0.551);
       
       margin-top: 10px !important;
      }
      .upper-btn{
       padding-top: 19px;
       display: flex;
       gap: 15px;
       padding-left: 10px;
      }
      .upper-btn .add-cat-btn-right{
       background-color: orange;
       text-decoration: none;
       border-radius: 7px;
       padding: 20px 40px;
       font-weight: 700;
       letter-spacing: 1px;
       color: rgb(2, 7, 61);
      
      }
      .upper-btn .add-product-btn-right{
       background-color: lightblue;
       border-radius: 7px;
       text-decoration: none;
       padding: 20px 50px;
       font-weight: 700;
       letter-spacing: 1px;
       color: rgb(2, 7, 61);
      }
      .sales-btn-right{
       background-color: rgb(177, 255, 109);
       border-radius: 7px;
       text-decoration: none;
       padding: 20px 110px;
       font-weight: 700;
       letter-spacing: 1px;
       color: rgb(2, 7, 61);
      }
      .service-btn-right{
       background-color: rgb(253, 206, 229);
       border-radius: 7px;
       text-decoration: none;
       padding: 20px 80px;
       font-weight: 700;
       letter-spacing: 1px;
       color: rgb(2, 7, 61);
      }
      .add-icon{
       font-size: 30px;
      }
      .add-cat-section{
        
         background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
         padding: 10px;
         text-align: center;
      }
      .add-cat-btn{
         text-decoration: none;
         color: white;
      }
      .add-product-section{
         background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
         padding: 10px;
         text-align: center;
         margin-top: 10px;
      }
      .add-product-btn{
         text-decoration: none;
         color: white;
      }
 
 
      /* /////////////////////////MEDIAQUERY///////////////////////// */
 
      @media(min-width:300px) and (max-width:575.98px){
       .display-username span{
          font-size: 10px;
          border-radius: 15px 0px 0px 15px;
      }
      .display-username .fa-user{
       margin-right: 4px;
       background-color: transparent;
       padding: 7px 8px;
       color: rgb(251, 251, 251);
       border-radius: 50%;
   }
       .back-btn{
         display: none;
      }
      .hero{
       padding-top: 20px;
       display: inline;
    }
    .hero-left h4{
       padding-left: 13%;
       font-size: 15px;
       border-radius: 0px;
       background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
       color: white;
       text-align: center;
       padding: 10px !important;
       margin-bottom: 0 !important;
    }
    .hero-left{
       width: 100%;
       margin-top: 20px;
       height: 350px;
    }
    .cat-ithems th{
       width: 100%;
    }
    .upper-btn{
       padding-top: 60px !important;
       padding-left: 90px !important;
       display: inline;
       justify-content: center;
       text-align: center;
       /* // background-color: red; */
      margin: auto;
       /* // gap: 25px; */
       padding-left: 10px;
      }
      .add-icon{
       font-size: 12px;
      }
      .add-cat-button,.add-prdct-button,.sales-button,.services-button{
       padding-bottom: 20px !important;
       padding-left: 20px;
      }
      .upper-btn .add-cat-btn-right{
       padding: 10px 40px;
       font-size: 10px;
      }
      .upper-btn .add-product-btn-right{
       font-size: 10px;
       padding: 10px 53px;
      }
      .sales-btn-right{
       font-size: 10px;
       padding: 10px 75px;
      }
      .service-btn-right{
       font-size: 10px;
       padding: 10px 60px;
      }
     
      }
 
 
      @media(min-width:576px) and (max-width:991.98px){
       .display-username span{
          font-size: 10px;
          border-radius: 15px 0px 0px 15px;
      }
      .display-username .fa-user{
       margin-right: 4px;
       background-color: transparent;
       padding: 7px 8px;
       color: rgb(251, 251, 251);
       border-radius: 50%;
   }
       .back-btn{
         display: none;
      }
      .hero{
       padding-top: 20px;
       display: inline;
    }
    .hero-left h4{
       padding-left: 13%;
       font-size: 15px;
       border-radius: 0px;
       background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
       color: white;
       text-align: center;
       padding: 10px !important;
       margin-bottom: 0 !important;
    }
    .hero-left{
       width: 100%;
       margin-top: 20px;
       height: 350px;
    }
    .cat-ithems th{
       width: 100%;
    }
    .upper-btn{
       padding-top: 60px !important;
       padding-left: 10px !important;
       display: flex;
       width: 120% !important;
       justify-content: center;
       text-align: center;
       /* // background-color: red; */
       margin: auto !important;
       /* // gap: 25px; */
       padding-left: 10px;
      }
      .add-icon{
       font-size: 12px;
      }
      .add-cat-button,.add-prdct-button,.sales-button,.services-button{
       padding-bottom: 20px !important;
       padding-left: 20px;
      }
      .upper-btn .add-cat-btn-right{
       padding: 10px 20px;
       font-size: 10px;
      }
      .upper-btn .add-product-btn-right{
       font-size: 10px;
       padding: 10px 23px;
      }
      .sales-btn-right{
       font-size: 10px;
       padding: 10px 25px;
      }
      .service-btn-right{
       font-size: 10px;
       padding: 10px 20px;
      }
     
      }
 
      @media(min-width:992px) and (max-width:1300px){
       .upper-btn .add-cat-btn-right{
          padding: 25px 50px;
          font-size: 10px;
         }
         .upper-btn .add-product-btn-right{
          font-size: 10px;
          padding: 25px 40px;
         }
         .sales-btn-right{
          font-size: 10px;
          padding: 25px 50px;
         }
         .service-btn-right{
          font-size: 10px;
          padding: 25px 40px;
         }
      }
 
 }